@use './common';

.flex {
  display: flex;
}

.header {
  color: common.$mainFontColor;
  padding: 45px 35px 45px;
  font-size: 14px;
  width: 300px;
  box-sizing: border-box;
  flex: 0 0 auto;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 27px;
  }
  &__menu-item {
    padding: 0.5rem 0;
  }

  &__btn-signout {
    background: none;
    border: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    margin-left: 0.5rem;
    font-size: 20px;
    color: common.$themeColor;
    font-weight: 400;
    display: inline-flex;
    margin-top: 12px;
  }
}

@media (max-width: 860px) {
  .header {
    position: relative;
    flex-direction: row;
    padding: 45px 20px 45px;
    width: 100%;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;

    .profile__img {
      margin-bottom: 0;
    }
    .header__menu-list {
      flex-direction: row;
      gap: 20px;
      width: 100%;
    }
  }
}


