@use './common.scss';

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  position: relative;
}

/* Style your items */
.masonry-grid_column > div {
  margin-bottom: 30px;
}

.container {
  padding: 50px 30px 0;
  flex-grow: 1;
  min-width: 500px;
  width: calc(100% - 360px);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.head__link {
  color: common.$mainFontColor;
  font-size: 13px;
  text-decoration: none;
}

.head__title {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: common.$mainFontColor;
}

.list {
  background-color: common.$background;
  color: common.$mainFontColor;
  padding: 10px 0;
  font-size: 14px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.masonry-item {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 20px 14px;
  background-color: common.$mainFontColor;

  &__meta {
    font-size: 12px;
    margin-bottom: 10px;
    margin: 10px;
  }

  &__date {
    margin-left: 10px;
  }

  &__title {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    text-decoration: none;
    color: common.$cardFontColor;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
  }
  &__desc {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    text-decoration: none;
    color: common.$cardFontColor;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
  }
}

.screenshot {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 100%;
  margin-bottom: 50px;
}
