@use './common.scss';

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
  position: relative;
}

/* Style your items */
.masonry-grid_column > div {
  margin-bottom: 30px;
}

.container {
  padding: 50px 30px 0;
  flex-grow: 1;
  min-width: 500px;
  width: calc(100% - 360px);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.head__link {
  color: common.$mainFontColor;
  font-size: 13px;
  text-decoration: none;
}

.head__title {
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: common.$themeColor;
}

.list {
  background-color: common.$background;
  color: common.$mainFontColor;
  padding: 10px 0;
  font-size: 14px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.masonry-item {
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: common.$themeColor;
  border-radius: 8px;
  color: common.$mainFontColor;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
  a {
    text-decoration: none;
    padding: 0 0 20px;
    display: block;
    color: common.$mainFontColor;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(77, 77, 77, 0.4);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
      .masonry-item__link-icon {
        opacity: 0.9;
        z-index: 1;
      }
      .screenshot {
        transform: scale(1.1);
      }
    }
  }

  &__meta {
    font-size: 12px;
    margin: 10px 20px;
    font-weight: 400;
    z-index: 1;
    position: relative;
    display: inline-flex;
    align-items: center;
  }

  &__date {
    margin-left: 10px;

    &:before {
      content: '|';
      margin-right: 10px;
    }

    svg {
      font-size: 15px;
      vertical-align: bottom;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    text-decoration: none;
    margin: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    z-index: 10;
    position: relative;
  }
  &__desc {
    font-size: 13px;
    line-height: 1.3;
    font-weight: 300;
    text-decoration: none;
    margin: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    z-index: 1;
    position: relative;
  }
  &__link-icon {
    font-size: 80px;
    color: common.$mainFontColor;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
  }
}

.screenshot {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  margin-bottom: 30px;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 5s ease-in-out;
  background-color: #000;
}

@media (max-width: 860px) {
  .container {
    padding: 0 30px 0;
  }
}
